.caption-controls-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
    padding: 20px 20px 0px 20px;
    height: 89.5vh;
    border-left: 1px solid white;
    background-color: black;
}

.caption-delete-button{
    background-color: white;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.caption-delete-button button{
    cursor: pointer;
}

.caption-style{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
    padding: 140px 0px 0px 0px;
    /* height: 89.5vh; */
    /* border-left: 1px solid white; */
    background-color: black;
}

.font-container, .font-size, .color-container{
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: bold;
    gap: 10px;
}

.font-container select, .font-size select{
    display: flex;
    padding: 8px;
    flex: 0 1 auto;
    background-color: white;
    color: black;
    border-radius: 5px;
}

@media (max-width: 1024px) {
    .caption-controls-container{
        padding: 15px 20px 0px 20px;
    }

    .caption-style{
        padding-top: 50px;
    }
    .font-container, .font-size, .color-container{
        font-size: 20px;
        font-weight: bold;
        gap: 8px;
    }
    
    .font-container select, .font-size select{
        font-size: 15px;
    }
}

@media (max-width: 768px){
    .caption-controls-container{
        display: flex;
        flex-direction: column;
        justify-content: end;
        position: relative;
        padding: 0px;
        height: 60vh;
        border-left: none;
        gap: 20px;
    }
    
}