.caption-controls-container{
    display: flex;
    flex-direction: column;
    align-content: end;
    position: relative;
    left: 8px;
    bottom: 7px;
    gap: 40px;
    padding-top: 60%;
    padding-left: 10px;
    padding-right: 10px;
    height: 100vh;
    border-left: 1px solid white;
    background-color: black;
}
.font-container, .font-size,.color-container{
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
    gap: 10px;
}

.font-container select, .font-size select{
    display: flex;
    flex: 0 1 auto;
    background-color: white;
    color: black;
    border-radius: 5px;
}