.frame-selector-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
    padding: 200px 20px 0px 20px;
    height: 89.5vh;
    border-left: 1px solid white;
    background-color: black;
}

h3{
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: bold;
    gap: 10px;
}

.frame-selector-container select{
    display: flex;
    text-align: center;
    flex: 0 1 auto;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 15px;
}

@media screen and (max-width: 1464px) {
    .frame-selector-container{
        height: 88vh;
        padding: 180px 20px 0px 20px;
    }
    
    .h3{
        font-size: 25px;
    }

    .frame-selector-container select{
        padding: 10px;
    }
}

@media screen and (max-width: 1024px) {
    .frame-selector-container{
        padding: 120px 20px 0px 20px;
    }
    
    .h3{
        font-size: 10px;
    }

    .frame-selector-container select{
        padding: 8px;
    }
}

@media screen and (max-width: 768px) {
    .frame-selector-container{
        position: relative;
        padding: 0px;
        height: 40vh;
        border-left: none;
        gap: 20px;
        overflow-y: auto;
        z-index: 10000;
    }
    
    .h3{
        font-size: 18px;
    }

    .frame-selector-container select{
        display: flex;
        justify-content: center;
        padding: 5px;
        width: 150px;
        margin: 0 auto;
    }
}