.mockup-section-wrapper  {
  display: grid;
  /* grid-template-columns: repeat(5, 0.5fr); */
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.3fr 0.3fr;
  grid-template-rows: 0.1fr 0.5vh 0.5vh 0.5vh 0.5vh;
  gap: 1px;
}
  
.header {
  grid-column: span 5 / span 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: black;
  color: white;
  padding: 20px 30px;
  border-bottom: 1px solid white;
  z-index: 5;

  h1{
    font-size: 1.4em;
  }

  button{
    background-color: #FAF9F6;
    color: black;
    padding: 15px 50px;
    border-radius: 8px;
    font-size: 1.2em;
    cursor: pointer;
  }
}

.mockup-controls {
  grid-row: span 4 / span 4;
  grid-column-start: 5;
  grid-row-start: 2;
}

.controls-panel {
  grid-row: span 4 / 4;
  grid-column-start: 4;
  grid-row-start: 2;
}

/* .mockup-container {
  grid-column: span 3 / span 3;
  grid-row: span 4 / span 4;
  grid-column-start: 1;
  grid-row-start: 2;
} */

.mockup-container-wrapper {
  grid-column: span 3 / span 3;
  grid-row: span 4 / span 4;
  grid-column-start: 1;
  grid-row-start: 2;

  display: grid;
  grid-template-columns: 1.5fr 1.4fr 1.5fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px;
  /* overflow-y: auto;  */
}

@media(max-width: 1464px){
  .header{
    padding: 11px 11px;

    h1{
      font-size: 1.2em;
    }
  
    button{
      padding: 12px 40px;
      font-size: 1em;
    }
  }
}

@media(max-width: 1024px){
  .header{
    padding: 10px 15px;

    h1{
      font-size: 1em;
    }
  
    button{
      padding: 9px 30px;
      font-size: 1em;
    }
  }
}
    
@media(max-width: 768px){
  .mockup-section-wrapper  {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.3fr;
    grid-template-rows: 0.2fr 4fr 0.9fr 3.4fr;
    gap: 0 px;
  }

  .header{
    padding: 15px 15px;

    h1{
      font-size: 1em;
    }
  
    button{
      padding: 9px 30px;
      font-size: 1em;
    }
  }

  .mockup-controls{
    grid-row-start: 3;
    grid-column: 1 / -1;
  }

  .controls-panel{
    grid-row: 4 / 5;
    grid-column: 1 / -1;
  }

  .mockup-container-wrapper{
    display: grid;
    grid-template-columns: 1.5fr 1.4fr 1.5fr;
    grid-template-rows: 0.8fr;
    overflow: hidden;
    overflow-y: scroll;
  }
}