.mockup-section-wrapper {
  display: flex;
  justify-content: center; 
  align-items: center;
  position: relative; 
  width: 100%;
  min-height: 100vh;
  padding-top: 200px 0px 10px 0px;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  width: 100%;  
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  border-bottom: 1px solid white;
}

.header h1{
  color: white;
  margin-left: 1.5rem;
}

.download-button {
  padding: 10px 50px;
  background: white;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  z-index: 101;
}

.mockup-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  height: 100vh;
  width: 250px;
  gap: 10px;
  position: fixed; 
  right: 0;
  top: 0; 
  padding: 20px;
  transform: translateY(0); 
  z-index: 50;
  border-left: 1px solid white;
}

.select-image-button, .caption-button, .bg-button, .frame-button{
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer
}

.select-image-button, .frame-button{
  background: #4CAF50;
}

.bg-button{
  background: #FF9800;
}

.toggle-active {
  background: #f44336;
}

.toggle-inactive {
  background: #2196F3;
}

.mockup-container{
  display: flex;
  margin-left: 70px;
  width: 420px;
  /* height: 550px; */
  /* width: 23%; */
  min-width: 250px;
  height: 80vh;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  z-index: 10;
}

.image-container.selected {
  cursor: move;
  z-index: 1000;
}

.image-container {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  /* overflow: hidden; */
}

.image-container img {
  user-select: none;
  display: block;
  max-width: 100%;
  height: auto;
}

.rotation-handle,
.resize-handle {
  width: 15px;
  height: 15px;
}

.rotation-handle {
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  cursor: grab;
  z-index: 3;
}

.resize-handle {
  width: 20px;
  height: 20px;
  background: blue;
  border-radius: 50%;
  position: absolute;
  bottom: -10px;
  right: -10px;
  cursor: nwse-resize;
  z-index: 3;
}

.controls-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.color-picker, .caption-controls, .external-frame-selector{
  position: absolute;
  top: 7vh;
  /* width: 10%; */
  /* left: 50%; */
  left: -310px;
  z-index: 20;
  width: 300px;  /* Force width */
  height: 20px;
}

.color-picker{
  top: 13vh;
}

@media (max-width: 1024px){
  .mockup-container{
    display: flex;
    margin-left: 70px;
    width: 350px;
    min-width: 250px;
    height: 90vh;
    position: relative;
    overflow: hidden;
    z-index: 10;
  }
}


@media screen and (max-width: 768px) {
  .mockup-controls {
    flex-direction: row; 
    height: auto;
    width: 100%;
    position: fixed;
    bottom: 0;
    top: auto;
    border-left: none;
    border-top: 1px solid white;
    padding: 10px;
  }

  .image-container img {
    width: 80%;
    height: auto;
  }

  .color-picker {
    top: -600px;
    bottom: 60px;
    left: 450px;
    width: 40%;
    height: 1vh;
    z-index: 20;
  }

  .rotation-handle,
  .resize-handle {
    width: 10px;
    height: 10px;
  }
}
