/* InnerImage.css */

 .inner-image-wrapper {
    /* width: 100%;
    height: 100%; */
    width: auto;
    height: auto;
    position: absolute;
    overflow: hidden;
    z-index: 1;
  }
  
  .inner-image-container {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    user-select: none;
    z-index: 1;
    overflow: hidden;
  }
  
  .inner-image {
    display: block;
    object-fit: contain;
    border-radius: 30px;
    pointer-events: auto;
    overflow: hidden;
  }
  
  /* Add styling for the image upload indicator/area */
  .image-upload-area {
    border: 2px dashed #ccc;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(245, 245, 245, 0.7);
  }
  
  /* Style for the caption area */
  .image-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 14px;
    text-align: center;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
  }